<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                    <a href="/logout" class="btn btn-danger">Logout</a>
                    <a href="/mesas" class="btn btn-primary">Administrar Mesas</a>
                    <% if (req && req.oidc.user && req.oidc.user.rol.includes('admin')) { %>
                        <a href="/clientes" class="btn btn-primary">Administrar Clientes</a>
                    <% } %>
                    <a href="/productos" class="btn btn-primary">Administrar Productos</a>
                    <a href="/categorias" class="btn btn-primary">Administrar Categorias</a>
                    <a href="/reservas" class="btn btn-primary">Administrar Reservas</a>
                    <% if (req && req.oidc.user && req.oidc.user.rol.includes('admin')) { %>
                        <br><br><a href="/estadisticas" class="btn btn-primary">Mostrar estadísticas</a>
                    <% } %>
                    <br><br>
                    <% if (user) { %>
                        <p>User Name: <%= user.name %></p>
                        <p>User Email: <%= user.email %></p>
                        <!-- Otras propiedades del usuario -->
                      <% } else { %>
                        <p>User not logged in</p>
                      <% } %>
            </div>
        </div>
    </div>
</body>
</html>